/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

/lib/*.bundle
/lib/*.so

/ext/otel/*.bundle
/ext/otel/*.so
/ext/otel/*.o
/ext/otel/mkmf.log
/ext/otel/Makefile
/ext/otel/compile_flags.txt
/ext/otel/ports
/ext/otel/tmp

Gemfile.lock
